body {
  margin: 0;
  padding: 0;
  background-color: rgb(233, 241, 249);
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}

.App {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  margin-top: 50px;
  display: block;
  justify-content: space-evenly;
  align-items: center;
}

.daily_goals {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Page Header */

.pageHeader {
  display: flex;
  justify-content: space-between;
}

/* Modify Goal Overlay */

.modifyGoalOverlay, .modifySprintOverlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modifyGoalContainer, .modifySprintContainer {
  width: fit-content;
  background-color: rgb(255, 255, 255);
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px 0, rgba(0,0,0, 0.08) 0 0 0 1px;
}

.formTitleContainer, .sprintFormContainer {
  display: flex;
  justify-content: space-between;
}

.exitEditButton {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 20px;
  /* border-radius: 12px; */
  border-color: transparent;
  background-color: transparent;
}

.exitEditButton:hover {
  cursor: pointer;
}

/* Progress Bar */

.progressBarContainer {
  width: 200px;
  height: 14px;
  background-color: rgb(216, 216, 216);
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0, 0.4);
}

.progress {
  height: 14px;
  background-color: blue;

}

/* Buttons and Info Containers */
.infoContainer, .button-container {
  display: flex;
  align-items: center;
}
.button-container button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 10px;
  border-radius: 12px;
  background-color: transparent;
}
.create {
  border: 1.5x solid rgb(108, 115, 148);
  color: rgb(108, 115, 148);
  text-transform: uppercase;
}
.create:hover {
  background-color: rgb(131, 138, 172);
  cursor: pointer;
}
.create:active {
  background-color: rgb(108, 115, 148);
  color: rgb(255, 255, 255);
}
.signout {
  border: 1.5px solid rgb(255, 175, 163);
  background-color: rgb(255, 175, 163) !important;
  color: rgb(234, 234, 234);
}
.signout:hover {
  background-color: rgb(175, 94, 94) !important;
  border: 1.5px solid rgb(175, 94, 94);
  cursor: pointer;
}
.signout:active {
  border: 1.5px solid rgb(175, 81, 81);
  background-color: rgb(175, 81, 81);
  color: rgb(255, 255, 255);
}
.edit {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(141, 181, 145);
  background-color: transparent;
  text-transform: uppercase;
}
.edit:hover {
  background-color: rgb(182, 223, 186);
  cursor: pointer;
}
.edit:active {
  border: 1.5px solid rgb(141, 181, 145);
  color: rgb(255, 255, 255);
  background-color: rgb(141, 181, 145);
}
.delete {
  border: 1.5px solid rgb(255, 175, 163);
  color: rgb(255, 175, 163);
  text-transform: uppercase;
}
.delete:hover {
  background-color: rgb(255, 201, 193);
  cursor: pointer;
}
.delete:active {
  /* border: 1.5px solid rgb(255, 175, 163); */
  background-color: rgb(255, 175, 163);
  color: rgb(255, 255, 255);
}
input {
  margin: 11px 0;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1.5px solid rgb(230, 232, 236);
}


/* Goal Item */

.goalItem, .sprintItem {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: rgba(0,0,0, 0.08) 0 0 0 1px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(250, 250, 250);
}

.goalItem p, .sprintItem p {
  margin: 10px;
}


/* Daily Log */

.dailyLogContainer {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0,0,0, 0.05) 0 6px 24px, rgba(0,0,0, 0.08) 0 0 0 1px;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  height: fit-content;
  margin: auto;
}

.dailyLogContainer h3 {
  text-align: center;
}

.goalLogItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1.5px black;
  border-radius: 10px;
  margin: 15px auto;
  padding: 0 10px;
}

.goalLogItem input {
  max-width: 15%;
  text-align: center;
}

.submitButtonContainer {
  display: flex;
  justify-content: center;
}

.updateLog:hover {
  cursor: pointer;
}

/* Sprint Edit Overlay */
.submitSprint:hover {
  cursor: pointer;
  background-color: rgb(255, 175, 163);
}

.submitSprint:active {
  background-color: rgb(255, 175, 163);
  color: rgb(255, 255, 255);
}
